#map-canvas {
    width: 100%;
    height: 500px;
}
#sview-canvas {
    width: 100%;
    height: 400px;
}
#testmap-canvas {
    width: 100%;
    height: 400px;
}
#parkingResultsList {
    background-color: white;
    padding: 30px;
    margin-top:30px;
    margin-bottom: 30px;
}
#mapCanvasHolder {
    background-color: white;
    padding: 30px;
}