<template name="findPark">
     <div class="row">
        <form class="form-horizontal" role="form" id="findPark" action="action">
            <div class="col-md-4 col-md-offset-3">
                <div id="findParkField" class="form-group">
                    <input type="text" class="form-control" id="findParkInput" placeholder="Enter Address">
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Find Park</button>
            </div>
        </form>
    </div>
</template>