<template name="parkEdit">
    <div class="row">
        <div class="col-lg-12">
            <h2>Owner controls</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Master</div>
                <div class="panel-body">
                    <div class="control-group">
                        <div class="controls">
                            <a class="btn btn-danger delete" href="#">Delete park</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Pricing</div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">Description</div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>
    </div>
</template>