<template name="recentParks">
    <div class="col-lg-12">
        <div class="park-list">
            <div class="">
                <div class="">
                <p><span class="badge">{{parkCount}}</span> Parks found</p>
                </div>
                <ul>{{#each recentParks}} {{> parkItem}} {{/each}}</ul>
            </div>
        </div>
</template>
<template name="parksByOwner">
    <div class="col-lg-12">
        <div class="park-list">
            <div class="">
                <p><span class="badge">{{parkCount}}</span> Parks found</p>
            </div>
            <ul>{{#each recentParks}} {{> parkItem}} {{/each}}</ul>
        </div>
    </div>
</template>