<template name="profileSummary">
    <div class="row">
        <div class="col-md-4">
            <p>
                <img class="img-rounded" src="{{currentUser.profile.picture}}">
            </p>
            <p>Name: {{currentUser.profile.firstName}} {{currentUser.profile.lastName}}</p>
            <p>Address: {{currentUser.profile.address}}</p>
            <p>Phone Number: {{phNumber}}</p>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-success addService" data-service="facebook">Add Facebook</button>
            <button type="button" class="btn btn-success addService" data-service="google">Add Google</button>
            <button type="button" class="btn btn-success addService" data-service="email">Add Email</button>
        </div>
    </div>
</template>