<template name="profileNav">
    <ul class="nav nav-pills nav-justified">
        <li>
            <a href="profile">Profile Summary</a>
        </li>
        <li class="active">
            <a href="editProfile">Edit Profile</a>
        </li>
        <li>
            <a href="addPark">Add Park</a>
        </li>
    </ul>
</template>

<template name="profile">
    <div id="profile">{{>profileNav}}
        <h3>Profile Summary</h3>{{>profileSummary}}</div>
</template>

<template name="editProfile">
    <div id="profile">{{>profileNav}}></ul>
        <h3>Edit Profile</h3>{{>profileForm}}</div>
</template>

<template name="addPark">
    <div id="profile">{{>profileNav}}
        <h3>Add Park</h3>{{>addParkForm}}</div>
</template>

<template name="addParkForm">
    <form class="form-horizontal" role="form" id="addPark" action="action">
        <div class="row">
            <div class="form-group">
                <label for="streetNumber" class="col-sm-4 control-label">Street Number</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="streetNumber" placeholder="1/1-7">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="streetName" class="col-sm-4 control-label">Street Name</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="streetName" placeholder="Example">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="streetType" class="col-sm-4 control-label">Street Type</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="streetType" placeholder="St">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="suburb" class="col-sm-4 control-label">Suburb</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="suburb" placeholder="Sydney">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="state" class="col-sm-4 control-label">State</label>
                <div class="col-sm-3">
                    <select class="form-control" id="state" name="state">
                        <option value="ACT">ACT</option>
                        <option value="NSW">NSW</option>
                        <option value="NT">NT</option>
                        <option value="QLD">QLD</option>
                        <option value="SA">SA</option>
                        <option value="TAS">TAS</option>
                        <option value="WA">WA</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="postCode" class="col-sm-4 control-label">Post Code</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" id="postCode" placeholder="2000">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="country" class="col-sm-4 control-label">Country</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="country" value="Australia"
                    disabled>
                </div>
            </div>
        </div>
        <!-- Modal Footer-->
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Add Now</button>
        <!-- /.modal-content -->
    </form>
</template>