<template name="profile">
    <div id="profile">
        <ul class="nav nav-pills nav-justified">
            <li class="active">
                <a href="profile">Profile Summary</a>
            </li>
            <li>
                <a href="editProfile">Edit Profile</a>
            </li>
            <li>
                <a href="addPark">Add Park</a>
            </li>
        </ul>
        <h3>Profile Summary</h3>{{>profileSummary}}</div>
</template>
<template name="editProfile">
    <div id="profile">
        <ul class="nav nav-pills nav-justified">
            <li>
                <a href="profile">Profile Summary</a>
            </li>
            <li class="active">
                <a href="editProfile">Edit Profile</a>
            </li>
            <li>
                <a href="addPark">Add Park</a>
            </li>
        </ul>
        <h3>Edit Profile</h3>{{>profileForm}}</div>
</template>
